{% extends "base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid height100p banner" id="home">
  <div class="container h100">
    <div class="contentBox h100">
      <div>
        <h1 data-aos="fade-up" ata-aos-duration="1000" data-aos-delay="0">Enhance Yourself</h1>
        <p data-aos="fade-up" ata-aos-duration="1000" data-aos-delay="500">Jaringan, Pemrograman, Mikrotik, Linux, dan
          Ubuntu</p>
          <a href="/blog" class="btn btnD1" data-aos="fade-up" ata-aos-duration="1000" data-aos-delay="1000">Menuju Blog</a>

      </div>
    </div>
  </div>
</div>
<section class="sec1" id="explore">
  <div class="container">
    <div class="row">
      <div class="offset-sm-2 col-sm-8">
        <div class="headerText text-center">
          <h2 data-aos="fade-up" ata-aos-duration="1000" data-aos-delay="0">Developer</h2>
          <p data-aos="fade-up" ata-aos-duration="1000" data-aos-delay="100">Website ini dibuat pada 1 Desember 2020
            sebagai hasil mengimplementasikan dari sebuah contoh video tutorial</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="placeBox" data-aos="fade-up" ata-aos-duration="1000" data-aos-delay="500">
          <div class="imgBx">
            {% load static %}
            <img src="{% static 'img/amri.jpeg' %}" class="img-fluid image-resize max-height">
          </div>
          <div class="content">
            <h3>Amri Reza Wahyudin<br><span>Back-End Programmer</span></h3>
          </div>
        </div>
      </div>
      <div class="col-6" data-aos="fade-up" ata-aos-duration="1000" data-aos-delay="1000">
        <div class="placeBox">
          <div class="imgBx">
            {% load static %}
            <img src="{% static 'img/maul.jpeg' %}" class="img-fluid image-resize">
          </div>
          <div class="content">
            <h3>Maulana Firmansyah<br><span>Front-End Programmer</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec2" id="adventure">
  <div class="container h100">
    <div class="contentBox h100">
      <div>
        <h1 data-aos="fade-up" ata-aos-duration="1000" data-aos-delay="0">Tentang Kami</h1>
        <p data-aos="fade-up" ata-aos-duration="1000" data-aos-delay="500">Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Inventore a ullam quia numquam deserunt aut eligendi accusantium, necessitatibus in, odio
          tenetur vitae nostrum dolore qui aperiam iure doloremque possimus. Accusamus!</p>
        <a href="#" class="btn btnD1" data-aos="fade-up" ata-aos-duration="1000" data-aos-delay="1000">Read More</a>
      </div>
    </div>
  </div>
</section>
  {%endblock%}